<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="">
</head>

<body>
    <form action="/dilo/proses" method="post" enctype="multipart/form-data">
        <input type="text" name="nama" placeholder="masukan nama Anda">
        <input type="text" name="hobi" placeholder="masukan hobi Anda">
        <input type="file" name="gambar">
        <button type="submit">Kirim</button>
    </form>
</body>

</html>